data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
.Rproj.user/
.Rhistory
.RData
_freeze/
reports/*.html
outputs/tables/*
outputs/figures/*
outputs/sas-validation/*
!outputs/tables/.gitkeep
!outputs/figures/.gitkeep
!outputs/sas-validation/.gitkeep


/.quarto/
**/*.quarto_ipynb
